<h1>Add a project</h1>

<%= form_for [:my, @myproject] do |f| %>
	<div class = "field">
		<%= f.label :description %>
		<%= f.text_field :description %>
	</div>

	<div class = "field">
		<%= f.label :goal %>
		<%= f.text_field :goal %>
	</div>

	<div class = "field">
		<%= f.label :teaser %>
		<%= f.text_field :teaser %>
	</div>

	<div class = "field">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>

	<div class = "actions"><%= f.submit value = "Publish Project" %></div>
	<% end %>